* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: hsl(32, 100%, 92%);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

#logo {
  width: 40px;
  height: 40px;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: #8c7b75;
  font-family: "Allura", cursive;
}

.navbar-content img {
  width: 25px;
  height: 25px;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-content > * {
  cursor: pointer;
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-content > :not(:first-child):hover {
  background-color: rgba(255, 218, 185, 0.587);
}

.search-icon-box {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  transition: all 0.3s ease;
}

.search-icon-box:hover {
  background-color: rgba(255, 218, 185, 0.587);
}

.search {
  display: flex;
  gap: 3.5px;
  align-items: center;
}
.search-bar {
  border: none;
  height: 35px;
  width: 250px;
  font-family: "poppins";
  color: #8c7b75;
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px 15px;
}

.genre-box {
  position: relative;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.genre-dropdown {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  width: 200px;
  top: 100%;
  left: -50%;
  background-color: hsl(28, 100%, 90%);
  transition: all 0.3s ease;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.genre-dropdown-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.genre-dropdown li {
  cursor: pointer;
  list-style: none;
  margin-bottom: 10px;
}

.genre-dropdown li > * {
  color: hsl(16, 9%, 50%);
  font-size: 1.2rem;
}

.genre-dropdown li > *:hover {
  color: hsl(16, 9%, 10%);
}

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: peachpuff;
}

.searchpage {
  padding: 120px 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book-card {
  min-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 5px;
  align-items: center;
  transition: all 0.3s;
  background-color: white;
}

.book-card:hover {
  transform: scale(1.07);
}

.book-image-box {
  width: 120px;
  height: 180px;
}

.book-image {
  width: 100%;
  height: 100%;
}

.book-title {
  font-family: "poppins";
  color: #c96868;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.book-writer {
  font-family: "poppins";
  color: #7eacb5;
  font-size: 16px;
  text-align: center;
}

.book-price {
  display: flex;
  gap: 10px;
}

.book-price-original {
  text-decoration: line-through;
  font-family: "poppins";
  color: hsl(16, 9%, 70%);
  font-size: 18px;
  font-weight: 500;
}

.book-price-current {
  font-family: "poppins";
  color: hsl(16, 9%, 40%);
  font-size: 18px;
  font-weight: 500;
}

.book-quantity {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "poppins";
  color: hsl(16, 9%, 40%);
  font-size: 18px;
}

.book-quantity button {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  background-color: hsl(198, 100%, 85%);
  border-radius: 5px;
  font-family: "poppins";
  color: hsl(16, 9%, 40%);
  font-size: 18px;
}

.book-quantity p {
  text-align: center;
  width: 25px;
}

.book-quantity button:hover {
  background-color: hsl(198, 100%, 70%);
}

.add-to-cart-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: hsl(348, 59%, 85%);
  border-radius: 10px;
}

.add-to-cart-button p {
  font-size: 18px;
  font-family: "poppins";
  color: hsl(16, 9%, 40%);
}

.add-to-cart-button img {
  width: 25px;
  height: 25px;
}

.add-to-cart-button:hover {
  background-color: hsl(348, 59%, 70%);
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page-spinner {
  background-color: hsl(5, 100%, 97%);
  width: 80px;
  height: 80px;
  border: 10px solid peachpuff;
  border-top: 10px solid coral;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cart-box {
  position: relative;
}

.cart-circle {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 25px;
  height: 25px;
  background-color: coral;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  padding-top: 150px;
}

.cart-content {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.cart-content h1 {
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  font-size: 24px;
}

.cart-content-box {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.cart-content-box-left {
  background-color: rgb(243, 238, 235);
  width: 700px;
  padding: 20px;
}

.cart-content-box-left-inner {
  background-color: white;
  padding: 15px;
}

.cart-content-box-left-inner-up {
  display: flex;
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  font-weight: 500;
  justify-content: space-between;
}

.cart-content-box-left-inner-up-right {
  display: flex;
  gap: 35px;
}

.cart-item {
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsl(16, 9%, 50%);
}

.cart-item-left {
  display: flex;
  gap: 10px;
  max-width: 320px;
}

.title,
.writer {
  text-align: center;
}

.title {
  color: #c96868;
}

.writer {
  color: #7eacb5;
}

.cart-item-image-box {
  border: 1px solid;
  min-width: 100px;
  height: 135px;
}

.cart-item-details-box {
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-quantity {
  margin-top: 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-quantity button {
  cursor: pointer;
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  background-color: hsl(198, 100%, 87%);
  font-size: 18px;
}

.cart-item-quantity button:hover {
  background-color: hsl(198, 100%, 70%);
}

.remove-button {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  background-color: hsl(16, 100%, 85%);
  border-radius: 10px;
}

.remove-button:hover {
  background-color: hsl(16, 100%, 70%);
}

.cart-item-right {
  display: flex;
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  gap: 35px;
}

.price {
  width: 39px;
  text-align: center;
}

.quantity {
  width: 70px;
  text-align: center;
}

.total-price {
  width: 84px;
  text-align: center;
  font-weight: 500;
}

.cart-content-box-right {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-content-box-right-up {
  background-color: rgb(243, 238, 235);
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  padding: 20px 30px;
}

.cart-content-box-right-down {
  background-color: rgb(243, 238, 235);
  padding: 20px 30px;
}

.summary {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  font-size: 18px;
}

.subtotal-box {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.delivery-charge {
  display: flex;
  justify-content: space-between;
}

.final-amount-box {
  padding-top: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.pay-button {
  margin-top: 30px;
  margin-left: 15px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  font-size: 18px;
  padding: 15px 20px;
  background-color: peachpuff;
}

.pay-button:hover {
  background-color: hsl(28, 100%, 70%);
}

.promo-code {
  font-family: "poppins";
  color: hsl(16, 9%, 50%);
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.promo-code-input {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.promo-code-input input {
  border: none;
  padding: 8px;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  font-family: "poppins";
  font-size: 14px;
  color: hsl(16, 9%, 50%);
}

.promo-code-input button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: "poppins";
  font-size: 14px;
  background-color: hsl(348, 59%, 85%);
  font-weight: 500;
  color: hsl(16, 9%, 40%);
}

.promo-code-input button:hover {
  background-color: hsl(348, 59%, 70%);
}
